[Unit]
Description=Monitor Module CDU Service

[Service]
WorkingDirectory=/home/worker/GG31_SYSTEM/opt/service_script
PIDFile=/var/run/module_cdu.pid
ExecStart=/home/worker/GG31_SYSTEM/opt/service_script/service_module_cdu.sh start
ExecStop=/home/worker/GG31_SYSTEM/opt/service_script/service_module_cdu.sh stop

[Install]
WantedBy=multi-user.target
