[Unit]
Description=Monitor Module CAN Service

[Service]
WorkingDirectory=/home/worker/GG31_SYSTEM/opt/service_script
PIDFile=/var/run/module_can.pid
ExecStart=/home/worker/GG31_SYSTEM/opt/service_script/service_module_can.sh start
ExecStop=/home/worker/GG31_SYSTEM/opt/service_script/service_module_can.sh stop

[Install]
WantedBy=multi-user.target
